@font-face {
    font-family: 'Cera Round Pro';
    src: url('subset-CeraRoundPro-Medium.eot');
    src: url('subset-CeraRoundPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('subset-CeraRoundPro-Medium.woff2') format('woff2'),
        url('subset-CeraRoundPro-Medium.woff') format('woff'),
        url('subset-CeraRoundPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

