.about-section{
	background: #fff url(../images/about-section-bg.png) 50% 0 no-repeat;
	min-height: 500px;
	transform: translateY(-73px);
	padding: 220px 0 80px;
	position: relative;

	&::after{
		background: url(../images/diagram-img.png) 0 0 no-repeat;
		width: 490px;
		height: 360px;
		display: block;
		position: absolute;
		bottom: -80px;
		right: 95px;
		content: "";
	}
}

.about{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 950px;
	margin: 0 auto;

	&__caption{
		padding: 0 0 60px 40px;
	}
}