.banner{
	height: 750px;
	padding-bottom: 35px;
	display: flex;
	align-items: center;
	background: url(../images/banner-bg.png) 50% 0 no-repeat;
	color: #fff;
	text-align: center;
	position: relative;
	z-index: 10;

	&__slider{
		position: static;
		
		.owl-pagination{
			position: absolute;
			bottom: 48px;
			left: 50%;
			transform: translateX(-50%);
			line-height: 14px;
			height: 16px;
			padding: 0px 11px;
			border-radius: 8px;
			border: 1px solid #5489c3;
		}

		.owl-page{
			display: inline-block;
			vertical-align: middle;
			line-height: 10px;
			margin: 0 4px;

			span{
				width: 16px;
				height: 1px;
				border-radius: 1px;
				background-color: #5489c3;
				display: block;
				margin-top: -2px;
				vertical-align: middle;
				content: "";
			}

			&.active span{
				background-color: #fff;
			}

		}

	}

	&__slider-item{
		max-width: 760px;
		margin: 0 auto;
	}

	&__slider-title{
		font-size: 36px;
		margin-bottom: 36px;
	}

	&__slider-content{
		font-size: 24px;
		margin-bottom: 45px;
	}


}