.header{
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    padding: 18px 0 0;

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        &__logo{
            padding-top: 11px;
        }


        &__content{
            display: flex;
            align-items: center;
        }

}