.nav{
	
	&__list{
		display: flex;
		padding-right: 44px;
	}

	&__list-item{
		margin: 0 26px;
	}

	&__list-link{
		color: #fff;
		display: inline-block;
		padding: 0 0 5px;
		position: relative;

		&::after{
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #fff;
			position: absolute;
			bottom: -5px;
			left: 50%;
			margin-left: -2px;
			opacity: 0;
			transition: all 300ms ease;
			content: "";
		}

		&:hover{
			color: #fff;

			&::after{
				transition: all 150ms ease;
				bottom: 0;
				opacity: 1;
			}
		}

	}

}